body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../image/R2.jpg");
    background-size: cover;
    background-attachment: scroll;

}

.container {
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#borrow {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
    font-size: large;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

#borrow:hover {
    background-color: blue;
}

.record-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.record {
    flex: 1 1 calc(50% - 20px); /* 自适应宽度，适应左右布局 */
    margin: 10px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.return-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.details {
    width: 100%;
}

.details summary {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details .record-list {
    display: flex;
    justify-content: space-between; /* 确保记录分布在左右两侧 */
    flex-wrap: wrap; /* 允许记录项在必要时折行 */
}

.details .record {
    width: calc(50% - 20px); /* 调整宽度以适应左右布局 */
    flex: none; /* 禁止记录项伸缩 */
}